.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.role {
  font: 10px sans-serif;
}

.host{
  font: 10px sans-serif;
  font-style: italic;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
